@import url("https://p.typekit.net/p.css?s=1&k=wkk4ibz&ht=tk&f=22487.22488&a=66306307&app=typekit&e=css");

@font-face {
    font-family:"fira-mono";
    src:url("https://use.typekit.net/af/46dcca/00000000000000007735a3a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/46dcca/00000000000000007735a3a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/46dcca/00000000000000007735a3a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

body {
    margin: 0;
}

.login {
    height: 100%;
    width: 100%;
    background: radial-gradient(#02735e, #012e40);
    position: relative;
}

.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #011526;
    display: flex;
    overflow: hidden;
}
.login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
}

.login_box .right{
    width: 59%;
    height: 100%
}
.left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.left .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.left h3{
    text-align: center;
    margin-bottom: 40px;
}
.left input {
    border: none;
    border-bottom: 1px solid #02735e;
    padding: 7px 9px;
    width: 25em;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left h3 {
    font-family: Arial, sans-serif;
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: 75px auto auto;
    background: #02735e;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgb(3, 65, 89);
    -moz-box-shadow: 0px 9px 15px -11px rgb(3, 65, 89);
    box-shadow: 0px 9px 15px -11px rgb(3, 65, 89);
}

.right {
    background: linear-gradient(212.38deg, rgb(1, 46, 64) 0%, rgb(1, 21, 38) 100%);
    position: relative;
    font-family: 'fira-mono', serif;
    width: 700px;
    height: 450px;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.cons p {
    color: white;
    line-height: 1.5rem;
}

p a {
    color: #06fdb7;
}

@media screen and (max-width: 1054px) {
    .login_box {
        width: 90%;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }

    .login_box .left {
        width: 100%;
    }

    .left input {
        width: auto;
    }

    .login_box .right {
        width: 100%;
    }


}
